<style>
  @font-face {
    font-family: "CascadiaCode";
    src: url("/static/CascadiaCode.woff2");
    }
  body {
    font-family: CascadiaCode, Consolas;
    background: rgb(66,66,66);
    color: rgb(240,240,240);
  }
  #page_container {
    font-family: Verdana;
    background: rgb(222,222,222);
    color: rgb(33,33,33);
    max-width: 1000px;
    margin: 0 100px;
    padding: 5px 10px 5px 10px;
  }
  #resultMsg {
    font-family: CascadiaCode;
    background: rgb(0,0,0);
    color: rgb(222,222,222);
    max-width: 1000px;
    margin: 0 100px;
    padding: 5px 10px 5px 10px;
  }
  #header-bar {
    background-color: rgb(0,200,130);
    width: 100%;
    display: flex;
    max-width: 1000px;
    margin: 0 100px;
    padding: 5px 10px 5px 10px;
  }
  .header-spacer {
    width: 100%;
  }
  .header-item {
    padding: 2px 10px;
    font-size:medium;
  }
  .header-item a:link, a:visited {
    color: rgb(33,33,33);
    font-weight: Bold;
    text-decoration: none;
  }
  .header-item a:hover {
    font-weight: Bold;
    color: rgb(0,255,255);
    text-decoration: underline;
  }

  .new-item h2 {
    font-size: 1.1em;
    margin: 0 0 0 0;
  }
  .new-item tr {
    vertical-align: center;
  }


  label {
    display: block;
    font-weight: normal;
    margin: 5px 5px 5px 5px;
  }
  input[type=text] {
    border-radius: 4px;
    border: 2px solid white;
    padding: 5px 5px;
  }

  input[type=submit] {
    font-family: CascadiaCode;
    font-weight: Bold;
    background: rgb(255,255,255);
    border-radius: 4px;
    border: 1px solid rgb(0,0,0);
    padding: 5px 10px;
    width: 100px;

  }

  textarea {
    border-radius: 4px;
    border: 2px solid white;
    padding: 5px 5px;
    width: 90%
  }
  
  .activities table {
    display: block;
    width: 100%;
    font-family: Verdana, sans-serif;
    font-size: 0.8em;
    border-collapse: collapse;
    border-spacing: 0;
  }

  .activities h2 {
    font-size: 1.1em;
    margin: 0 0 0 0;
  }
  .activities table {
    margin: 0 0 0 0;
  }
  .activities tr {
    vertical-align: top;
  }
  .activities th {
    color: rgb(220,220,220);
    background-color: rgb(50,100,150);
    font-weight: bold;
    border: solid 1px rgb(180,180,180);
    text-align: left;
  }
  .activities td {
    border: solid 1px rgb(180,180,180);
    background-color: rgb(240,240,240);
    padding: 2px 5px;
  }

  .dataTime td {
    width: 400px;
  }

  .trackerHeader {
    display: block;
    font-weight: Bold;
    padding: 2px 5px;
  }
  .trackerItem {
    display: block;
    padding: 2px 5px;
  }

</style>