{% include "_header.html" %}
{% include "header-bar.html" %}
{% include "header-details.html" %}
{% if resultMsg %}
<div id="resultMsg">
  &gt; {{resultMsg}}
</div>
{% endif %}
<div id="page_container">
  {% include "_newactivityform.html" %}
  <hr noshade style="height: 1px; border: 0;"/>
  <div class="activities">
    <h2>Activites Pending Send &gt;</h2>
    {% if trackerData %}
      <table>
        <tr>
          <th><div class="trackerHeader">ID</div></th>
          <th><div class="trackerHeader">DateTime</div></th>
          <th><div class="trackerHeader">Tag/Ticket</div></th>
          <th><div class="trackerHeader">Activity Description</div></th>
        </tr>
        {% for trackerItem in trackerData %}
          {% include "_trackeritem.html" %}
        {% endfor%}
      </table>
      <p>There is some tracker data</p>
    {% endif %}
  </div>
</div>

{% include "_footer.html" %}